@import "tailwindcss";
body {
  font-family: "Noto Sans JP", "M PLUS 1p", "Hiragino Sans", Meiryo, sans-serif;
  cursor: default;
}

.bix{
  font-size: 10px;

}
.btn1{
  font-size: 12px;
  margin-right: 4px;
}

